
// Common style

body {
  background: #eae2d7;
  font-family: Arial,sans-serif;
  font-size: 12px;
  color: #97866f;
  
  #content {
    .content-path {
      margin-bottom: 30px;
      
      .content-inner-box {
        background: #fff;
        border-radius: 8px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
        .article-headers.left-header{
          border-radius: 8px 0 0 0;          
        }
        .article-headers.right-header{
          border-radius: 0 8px 0 0;          
        }
        .article-headers {
          border-bottom: #e5e5e5 2px solid;
          background: url(../img/header_path.png) repeat-x 0 0;
          h2{
            margin: 0;
            padding: 0;
            height: 55px;
            line-height: 55px;
            float: left;
            width: 100%;
            font-size: 12px;
            text-transform: uppercase;
            text-shadow:-1px -1px 1px rgba(0,0,0,.2);
            color: #fff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        article {
          padding-top: 24px;
          margin-bottom: 20px;
          h4{
            font-size: 13px;
            margin: 0 0 14px;
            font-weight: bold;
            a{
              color: #2a1f0f;
              text-decoration: none;
              &:hover{
                opacity:.8;
              }
            }
          }
          figure {
            float: left;
            margin: 0 20px 40px 0;
            padding: 2px;
            border:#eae1d4 1px solid;
          }
          p {
            margin: 0 0 12px;
          }
          .more {
            color: #e61052;
            text-decoration: none;
            display: inline-block;
            padding-right: 22px;
            background: url(../img/more.png) no-repeat right center;
          }
        }
      }
    }
    aside{ 
      .sidebar-widget {
        border-radius: 8px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
        background: #fff;
        margin-bottom: 20px;
        &:after{
          display: block;
          content: "";
          clear: both;
        }
        .sid-title {
          background: url(../img/dotted_border.png) repeat-x 0 bottom;
          padding-bottom: 1px;
          margin-bottom: 16px;
          h5 {
            line-height: 50px;
            margin: 0;
            color: #e61052;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
        .social-btns {
          padding: 0;
          li {
            display: inline-block;
            a {
              display: inline-block;
              height: 22px;
              line-height: 22px;
              padding-left: 30px;
              background: url(../img/social.png) no-repeat 0 0;
              color: #97866f;
              margin:0 16px 12px 0;
              &:hover{
                opacity:.8;
              }
              &.tw {
                background-position: 0 center;
              }
              &.google {
                background-position: 0 bottom;
                margin-right: 0;
              }
            }
          }
        }
        .sid-articles {
          list-style-image: url(../img/list_image.png);
          padding-left: 20px;
          li{
            margin-bottom: 15px;
            a {
              color: #97866f;
              text-decoration: none;
              &hover {
                opacity: .8;
              }
            }
          } 
        }
        .cat-list {
          padding: 0;
          list-style: none;
          li {
            margin-bottom: 5px;
            a {
              color: #97866f;
              text-decoration: none;
              &:hover {
                opacity:.8;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .col-vs-12{
    width: 100%;
  }
  body #content .content-path .content-inner-box .article-headers.left-header,
  body #content .content-path .content-inner-box .article-headers.right-header {
      border-radius:8px 8px 0 0;
  }
  
}

