<div class="container">

  <header class="header">
    <h1>Home template</h1>
    <!-- <a href="#" rel="index" title="Go to homepage" class="ir site-name">Site Name<span></span></a> -->
  </header>
  <!-- / header -->
</div>
<!-- / container -->