<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
<!-- build:js js/plugins.min.js -->
<script src="bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
<script src="bower_components/jquery/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->
<script src="js/main.js"></script>
