<aside class="col-xs-12 col-sm-4">
  	<div class="sidebar-widget">
		<div class="col-xs-12 sid-title"><h5>Follow us</h5></div> 
		<div class="col-xs-12">
			<ul class="social-btns">
				<li><a href="#" class="fb">Facebook</a></li>
				<li><a href="#" class="tw">Twitter</a></li>
				<li><a href="#" class="google">Google+</a></li>
			</ul>
		</div>
	</div>

	<div class="sidebar-widget">
		<div class="col-xs-12 sid-title"><h5>Randomly selected</h5></div>
		<div class="col-xs-12"> 
			<ul class="sid-articles">
				<li><a href="#">X-Plosion is a hit in Japan</a></li>
				<li><a href="#">3 new flavors added</a></li>
				<li><a href="#">Check our new promo at Youtube</a></li>
				<li><a href="#">We say NO to artificial flavours</a></li>
				<li><a href="#">X-Plosion and your health</a></li>
			</ul>
		</div>	
	</div>

	<div class="sidebar-widget">
		<div class="col-xs-12 sid-title"><h5>Where can you find us?</h5></div> 
		<div class="col-xs-12">
			<ul class="cat-list">
				<li><a href="#"><b>X-Plosion Ltd</b></a></li>
				<li><a href="#">9 Danbury Road</a></li>
				<li><a href="#">Wilton</a></li>
				<li><a href="#">GT 06897</a></li>
			</ul>
		</div>
	</div>
</aside>
