@@include('head.html', {"pagename": "“Home”"})

<body>

@@include('header.html')

  <div id="content" role="main">
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12 col-sm-8 content-path">
		    		

						<div class="content-inner-box">

			    		<div class="col-vs-12 col-xs-6">
			    			<div class="article-headers left-header row">
				    			<div class="col-xs-12"><h2>X-plosion products</h2></div>
				    		</div>
			    			<article>
				          <h4><a href="#">We say NO to artificial flavors</a></h4>
				          <figure>
				            <a href="img/pic1.png" class="popup-gallery"><img src="img/pic1.png" alt="Image"></a>
				          </figure>
				          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				          <a href="#" class="more">More</a>
				        </article>

				        <article>
				          <h4><a href="#">New flavour added</a></h4>
				          <figure>
				            <a href="img/pic2.png" class="popup-gallery"><img src="img/pic2.png" alt="Image"></a>
				          </figure>
				          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				          <a href="#" class="more">More</a>
				        </article>
			    		</div>

			    		<div class="col-vs-12 col-xs-6">
			    			<div class="article-headers right-header row">
				    			<div class="col-xs-12"><h2>x-plosion expansion</h2></div>
				    		</div>
				        <article>
				          <h4><a href="#">X-Plosion is a hit in Japan</a></h4>
				          <figure>
				            <a href="img/pic3.png" class="popup-gallery"><img src="img/pic3.png" alt="Image"></a>
				          </figure>
				          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				          <a href="#" class="more">More</a>
				        </article>

				        <article>
				          <h4><a href="#">Danish elder hooked on X-Plosion</a></h4>
				          <figure>
				            <a href="img/pic4.png" class="popup-gallery"><img src="img/pic4.png" alt="Image"></a>
				          </figure>
				          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				          <a href="#" class="more">More</a>
				        </article>      
				    	</div>
				    	<div class="clearfix"></div>
						</div>
		        
		      </div>
		      @@include('sidebar.html')
  			</div>
  		</div>
  	</div>

  </div>
  <!-- / content -->


@@include('footer.html')
@@include('scripts.html')

</body>
</html>
